[Unit]
Description=TF2 Map Manager
After=network.target

[Service]
Type=exec
WorkingDirectory=/home/steam/Miss_Pauling/website
ExecStart=/home/steam/Miss_Pauling/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
